.container {
  /* display: flex; */

  text-align: center;
  max-width: 1000px;
  margin: 0 auto;

  border: 2px solid red;
}

.gallery {
  display: flex;
  justify-content: center;

  border: 2px solid green;
}

.img {
  max-width: 100%;
  height: 200px;

  margin: 40px 40px;
}

.buttons {
  margin-top: 20px;
}

.box {
  background-color: purple;
  color: #fff;
}
